# Dependencies
node_modules/
*/node_modules/

# Environment files (SECRET - kabhi push mat karo)
.env
*/.env

# Build output
frontend/dist/
frontend/.vite/

# Temp files
*.tmp
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/