* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  // padding: 30px;
  overflow: hidden;
  // position: relative;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
// background-color: blanchedalmond;
  img{
    height: 50px;
  }
  i{
    font-size: 20px;
  }
}

.left {
  display: flex;
  gap: 20px;
  margin-right: 750px;
}

.left h2 {
  font-weight: 400;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.right {
  margin-right: 50px;
}
.right a {
  // text-decoration: none;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

/* HERO */
.hero {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: space-between;
  // background-color: lightcoral;
}

/* HERO LEFT */
.hero-left {
  margin-left: 200px;
  width: 50%;
  position: relative;
  // background-color: red;
}
/* LEFT SIDE VERTICAL TEXT */
.side-text {
  position: absolute;
  left: -200px;
  top: 420px;
  display: flex;
  align-items: center;
  gap: 10px;
  // background-color: red;
  transform: rotate(-90deg);
}

.side-text span {
  font-size: 14px;
  color: black;
}

.line {
  height: 1px;
  width: 450px;
  background-color: black;
}

.stats {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.stats h1 {
  font-size: 52px;
  font-family: monospace;
}
.stats p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.stats2 {
  margin-top: 100px;
  display: flex;
  i{
    font-size: 20px;
  }
}
.hero-left h2 {
  font-size: 250px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

/* HERO RIGHT */
.hero-right {
  margin-top: 70px;
  margin-right: 50px;
  height: 650px;
  width: 650px;
  border-radius: 50%;
  // background-color: red;
}

.hero-right img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
